# SERVER CONFIG
PORT=3000
NODE_ENV=development

# DATABASE (Sesuaikan dengan DB kamu)
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=absensi_db

# SUPABASE DATABASE (Untuk production)
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.qdhoctvwqylkaizwiptr.supabase.co:5432/postgres

# SECURITY
JWT_SECRET=MasukanKodeAcakYangPanjangDisini123!
JWT_EXPIRES_IN=7d

# CORS - URL frontend kamu
FRONTEND_URL=http://localhost:5173