# SERVER CONFIG
PORT=3000
NODE_ENV=development

# DATABASE (Isi sesuai DB lokal masing-masing)
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=workly_db

# SECURITY
JWT_SECRET=isi_dengan_kode_acak_apapun
JWT_EXPIRES_IN=7d

# CORS
FRONTEND_URL=http://localhost:5173